
<template>
  <div class="hello">
    <h1>Hello There!</h1>
    <blockquote>We humans are alone in this world for a reason. We've murdered and butchered anything that challenged our primacy</blockquote>
    <p>-Dr. Robert Ford</p>
  </div>
</template>

<script>

export default {
  created(){
    console.log('created!');
  }
}
</script>

<style src="./example1.scss"></style>